---
layout: flex_default_w_side
onepage: true
page_id: 'index'
---
{% assign actlang = site.active_lang %}
<a id='top'></a>
{% include img_slider_header.html lang=actlang %}
<a id='about'></a>
{% include flex_content_cards_aboutDesc.html lang=actlang %}
<div class="flexline"></div>
<a id='stats'></a>
{% include flex_content_cards_stats.html lang=actlang %}
<div class="flexline"></div>
<a id='team'></a>
{% include flex_content_team_cards.html lang=actlang %}
<div class="flexline"></div>
<a id='data'></a>
{% include flex_content_cards_data.html lang=actlang %}
<div class="flexline"></div>
<a id='contact'></a>
{% include flex_content_cards_contact.html lang=actlang %}

{% include spacer.html %}