{% assign handle = include.lang %}
{% assign translatedTo = "en,fr" | split: "," %}
{% unless translatedTo contains handle %}{% assign handle = site.default_lang %}{% endunless %}

{% case  handle %}
{% when 'en' %}
<div class="container">
    <div class="row nowraprow pt-4 pb-2">
        <h4 class=" text-center">{{ site.data.titleTrs['sponsors'][handle] }}</h4> 
    </div>
    <div class="row">
        <div class="p-4">
            We would like to thank our granting agencies for their generous & continued support.
        </div>
        <div class="row nowraprow">
            <img class="img-thumbnail rounded" width=33% src="/assets/img/sponsors_logos/CFI.png" alt="CFI Logo">
            <img class="img-thumbnail rounded" width=33% src="/assets/img/sponsors_logos/CIHR.png"
            alt="CIHR Logo">
            <img class="img-thumbnail rounded" width=33% src="/assets/img/sponsors_logos/FRQS.png"
            alt="FRQS Logo">
        </div>
        <div class="row nowraprow">
            <img class="img-thumbnail rounded float-left mr-3" width=33% src="/assets/img/sponsors_logos/NIH-1.png"
            alt="NIH Logo">
            <img class="img-thumbnail rounded float-left mr-3" width=33% src="/assets/img/sponsors_logos/Weston.png"
            alt="Weston Logo">
        </div>
        <div></div>
    </div>
</div>
{% when 'fr' %}
<div class="container">
    <div class="row nowraprow pt-4 pb-2">
        <h4 class=" text-center">{{ site.data.titleTrs['about'][handle] }}</h4> 
    </div>
    <div class="row">
        <div class="p-4">
            Nous tenons à remercier nos merveilleux organismes subventionnaires pour leur soutien généreux et continu.
        </div>
            <div class="row nowraprow">
            <img class="img-thumbnail rounded" width=33% src="/assets/img/sponsors_logos/CFI.png" alt="CFI Logo">
            <img class="img-thumbnail rounded" width=33% src="/assets/img/sponsors_logos/CIHR.png"
            alt="CIHR Logo">
            <img class="img-thumbnail rounded" width=33% src="/assets/img/sponsors_logos/FRQS.png"
            alt="FRQS Logo">
        </div>
        <div class="row nowraprow">
            <img class="img-thumbnail rounded float-left mr-3" width=33% src="/assets/img/sponsors_logos/NIH-1.png"
            alt="NIH Logo">
            <img class="img-thumbnail rounded float-left mr-3" width=33% src="/assets/img/sponsors_logos/Weston.png"
            alt="Weston Logo">
        </div>
    </div>
</div>
{% else %}
Undefined Locale.
{% endcase %}