{% assign handle = include.lang %}
{% assign translatedTo = "en,fr" | split: "," %}
{% unless translatedTo contains handle %}{% assign handle = site.default_lang %}{% endunless %}

{% case  handle %}
{% when 'en' %}
<div class="container-fluid ">
    <header class="sliderheader_wSideBar">
        <div class="overlay">
        </div>
        <div class="pageparallax desc_aims_parallax">
        </div>
    </header>
    <div class="container-fluid containerWsidebar">
        <div class="row nowraprow pt-4 pb-2">
            <h4 class=" text-center">{{ site.data.titleTrs['desc_aims'][handle] }}</h4>
        </div>
        <div class="row nowraprow">
            <div class="p-4">
                <ul class="flexlists">
                    <li> <strong>To develop novel approaches for accurate and early diagnosis of Alzheimer’s Disease (AD). </strong>The
                        neuropathological changes in AD start to accumulate 10-15 years before the onset of the frist
                        clinical symptoms. The ability to diagnose AD during the pre-clinical phase would allow the
                        development of potential drug interventions that may modify the disease progression. Some
                        promising methods of diagnosis that are being investigated in our Centre include PET scans to
                        detect amyloid and tau protein levels and biofluid-based biomarkers of AD. </li>
                    <br>
                    <li><strong>To explore the epigenetic mechanisms underlying AD.</strong> Epigenetic dysregulation is increasingly
                        recognized in the pathophysiology of AD. Our Centre studies a family of enzymes that controls
                        gene transcription called histone deacetylases (HDACs) and their relation to amyloid and tau
                        protein levels. Recently, they were shown to play an important role in regulating
                        neuroplasticity and cognitive function. Defining the epigenetic processes associated with AD
                        could lead to developments of new therapies that target the epigenetic molecules in the brain.
                    </li>
                    <br>
                    <li><strong>To track the progression of neuroinflammation and tau aggregates in preclinical AD.</strong> As a
                        response to amyloid protein accumulation, immune cells in the brain release pro-inflammatory
                        factors. These factors were shown to increase the pathophysiological progression of AD. However,
                        research on the effects of neuroinflammation on cognitive decline and accumulation of tau
                        protein is limited. The longitudinal observation study conducted within the TRIAD cohort with
                        baseline and 24-month follow-up aims to fill this knowledge gap. This interface between
                        neuroinflammation and tau pathology presents as a novel potential target for therapeutic
                        interventions. </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% when 'fr' %}
<div class="container-fluid ">
    <header class="sliderheader_wSideBar">
        <div class="overlay">
        </div>
        <div class="pageparallax desc_aims_parallax">
        </div>
    </header>
    <div class="container-fluid containerWsidebar">
        <div class="row nowraprow pt-4 pb-2">
            <h4 class=" text-center">{{ site.data.titleTrs['desc_aims'][handle] }}</h4>
        </div>
        <div class="row nowraprow">
            <div class="p-4">
                <ul class="flexlists">
                    <li><strong>Développer de nouvelles approches pour un diagnostic précis et précoce de la maladie d’Alzheimer (MA).</strong> Les modifications neuropathologiques de la MA commencent à s'accumuler 10 à 15 ans avant l’apparition de déficience clinique. La capacité de diagnostiquer la MA au cours de cette phase permettrait de développer des interventions médicamenteuses potentielles susceptibles de modifier la progression de la maladie. Parmi les méthodes prometteuses de diagnostic qui sont à l’étude dans notre centre, on peut citer la tomographie TEP pour détecter les niveaux de protéines amyloïdes et tau et les biomarqueurs sanguins de la MA. </li>
                    <br>
                    <li><strong>Explorer les mécanismes épigénétiques sous-jacents de la MA.</strong> Le dérèglement épigénétique est de plus en plus reconnu dans la physiopathologie de la MA. Notre centre étudie une famille d’enzymes contrôlant la transcription des gènes, les histones désacétylases (HDAC), et leur relation avec les niveaux de protéines amyloïdes et de protéines tau. Récemment, il a été prouvé qu'ils jouent un rôle important dans la régulation de la neuroplasticité et de la fonction cognitive. Définir les processus épigénétiques associés à la MA pourrait conduire à la mise au point de nouvelles thérapies ciblant les molécules épigénétiques dans le cerveau.
                    </li>
                    <br>
                    <li><strong>Suivi de la progression de neuroinflammation et de d’enchevêtrements de tau dans la MA préclinique.</strong> En réponse à l'accumulation de protéines amyloïdes, les cellules immunitaires du cerveau libèrent des facteurs pro-inflammatoires. Il a été démontré que ces facteurs augmentaient la progression physiopathologique de la MA. Cependant, les recherches sur les effets de la neuroinflammation sur le déclin cognitif et l'accumulation de la protéine tau sont limitées. L'étude d'observation longitudinale menée au sein de la cohorte BioVie avec un rendez-vous initial et un suivi de 24 mois vise à combler cette lacune dans les connaissances. Cette interface entre neuroinflammation et pathologie de la protéine tau constitue une nouvelle cible potentielle pour des interventions thérapeutiques. </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% else %}
Undefined Locale.
{% endcase %}