{% assign handle = include.lang %}
{% assign translatedTo = "en,fr" | split: "," %}
{% unless translatedTo contains handle %}{% assign handle = site.default_lang %}{% endunless %}

{% case  handle %}
{% when 'en' %}
<div class="container">
  <div class="row nowraprow pt-4 pb-2">
    <h4 class=" text-center">{{ site.data.titleTrs['contactUs'][handle] }}</h4>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div id="map-container-google-1" class="z-depth-1-half map-container" style="height: 100%">
        <iframe frameborder="0" style="border:0"
          src="{{ site.data.gmaps['mcsa'][handle] }}"
          allowfullscreen></iframe>
      </div>
    </div>
    <div class="col-md-6">
      <p>
        If you would like to participate or would like to hear more, please contact us.
      </p>
      <form action="https://formspree.io/triad.tnl.mcgill@gmail.com" method="POST">
        <div class="form-group">
          <input type="text" class="form-control" id="nameinput" name="name" placeholder="Your Name">
        </div>
        <div class="form-group">
          <input type="email" class="form-control" id="inputEmail" name="email" placeholder="Your Email">
        </div>
        <div class="form-group">
          <textarea class="form-control" id="inputMessage" name="message" rows="2"></textarea>
        </div>
        <button type="submit" class="btn btn-light">Send Message</button>
      </form>
    </div>
  </div>
</div>
{% when 'fr' %}
<div class="container">
    <div class="row nowraprow pt-4 pb-2">
      <h4 class=" text-center">{{ site.data.titleTrs['contactUs'][handle] }}</h4>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div id="map-container-google-1" class="z-depth-1-half map-container" style="height: 100%">
          <iframe frameborder="0" style="border:0"
            src="{{ site.data.gmaps['mcsa'][handle] }}"
            allowfullscreen></iframe>
        </div>
      </div>
      <div class="col-md-6">
        <p>
          If you would like to participate or would like to hear more, please contact us.
        </p>
        <form action="https://formspree.io/triad.tnl.mcgill@gmail.com" method="POST">
          <div class="form-group">
            <input type="text" class="form-control" id="nameinput" name="name" placeholder="Your Name">
          </div>
          <div class="form-group">
            <input type="email" class="form-control" id="inputEmail" name="email" placeholder="Your Email">
          </div>
          <div class="form-group">
            <textarea class="form-control" id="inputMessage" name="message" rows="2"></textarea>
          </div>
          <button type="submit" class="btn btn-light">Send Message</button>
        </form>
      </div>
    </div>
  </div>
{% else %}
Undefined Locale.
{% endcase %}