{% assign handle = include.lang %}
{% assign translatedTo = "en,fr" | split: "," %}
{% unless translatedTo contains handle %}{% assign handle = site.default_lang %}{% endunless %}

{% case  handle %}
{% when 'en' %}
<div class="container-fluid">
    <div class="container-fluid containerWsidebar">
        <div class="row nowraprow pt-4 pb-2">
            <h4 class="text-left pl-4">{{ site.data.titleTrs['part_what'][handle] }}</h4>
        </div>
        <div class="row nowraprow">
            <div class="p-4">
                <p>For most participants the following steps will happen if you show interest in participating in one of
                    our studies (some of the steps may not happen in the same order, and some people will have some
                    tests but not all of them depending on the study – you will have to discuss your own participation
                    with one of the members of our team): </p>
                <ul class="flexlists">
                    <li>Phone Interview</li>
                    <li>Screening and Samples Collection (blood/ urine/ saliva) </li>
                    <li>Neuropsychological assessments </li>
                    <li>Lumbar Puncture/ Spinal Tap (Optional)</li>
                    <li>MRI scan </li>
                    <li>Amyloid (a type of protein) PET scan </li>
                    <li>Tau (a type of protein) PET scan or other types of PET scans </li>
                </ul>
                <p>Before participating in the study, all of these steps will be explained to you by one of the members
                    of our team and you will be asked to sign a consent form which includes - in writing -the detailed
                    information about the study. </p>
            </div>
        </div>
    </div>
</div>
{% when 'fr' %}
<div class="container-fluid">
    <div class="container-fluid containerWsidebar">
        <div class="row nowraprow pt-4 pb-2">
            <h4 class="text-left pl-4">{{ site.data.titleTrs['part_what'][handle] }}</h4>
        </div>
        <div class="row nowraprow">
            <div class="p-4">
                <p>Pour la plupart des participants, la séquence d’évènements suivante aura lieu si vous êtes intéressé à participer à notre étude. Il se peut que certaines de ces étapes n’auront pas lieu dans l’ordre énuméré ci-dessous. Il se peut aussi que vous n’ayez pas à compléter toutes les étapes énumérées – vous allez pouvoir discuter les détails de votre participation avec l'un des membres de notre équipe. </p>
                <ul class="flexlists">
                    <li>Entrevue téléphonique</li>
                    <li>Dépistage et collecte d’échantillon (sang/urine/salive) </li>
                    <li>Évaluation neuropsychologique </li>
                    <li>Ponction lombaire (facultative)</li>
                    <li>Imagerie par résonance magnétique (IRM) </li>
                    <li>Tomographie par émission de positron (TEP) pour évaluer la présence de protéine amyloïde </li>
                    <li>TEP pour évaluer la présence de protéine tau </li>
                    <li>Autre imagerie TEP au besoin</li>
                </ul>
                <p>Avant de participer à notre étude, toutes ces étapes vous seront décrites en détail par un membre de notre équipe. Vous allez pouvoir signer un formulaire de consentement qui inclut toute l’information à propos de notre étude par écrit.</p>
            </div>
        </div>
    </div>
</div>
{% else %}
Undefined Locale.
{% endcase %}