{% assign handle = include.lang %}
{% assign translatedTo = "en,fr" | split: "," %}
{% unless translatedTo contains handle %}{% assign handle = site.default_lang %}{% endunless %}

{% case  handle %}
{% when 'en' %}
<div class="container-fluid">
    <div class="container-fluid containerWsidebar">
        <div class="row nowraprow pt-4 pb-2">
            <h4 class="text-left pl-4">{{ site.data.titleTrs['part_tests'][handle] }}</h4>
        </div>
        <div class="row nowraprow">
            <div class="p-4">
                <h5>Screening and Samples Collection (blood/ urine/ saliva)</h5>
                <p>Screening will include questions about your past and current health, your family history and any troubles you have with your memory. There will be a physical exam to test your neurological health such as your balance and walking. Short questionnaires related to memory may be done at this time or during the neuropsychological assessment.  </p>
                <p>You will be asked to provide samples of body fluids that we use to assess your current health and your genetics. For the blood test, a nurse will draw a sample of blood as you may have had done for previous blood tests at the doctor’s office. Saliva and urine will also be collected. </p>
                
                <h5>Neuropsychological assessments</h5>
                <p>These are a series of tests looking at your cognition and memory. We may ask a close family member or friend to describe your day-to-day memory as well. These tests cover a lot of different areas of thinking and problem solving, and can take around 4 hours to complete, so they are completed over 1 or sometimes 2 visits. There is no preparation needed for these questionnaires, and the neuropsychologist will be guiding you through the different tests with proper instructions. </p>
                
                <h5>Lumbar Puncture/ Spinal Tap  (Optional)</h5>
                <p>This is a procedure that is performed by a medical doctor which allows us to collect a sample of cerebral spinal fluid (CSF) (the fluid that surrounds your brain and spinal cord) to look for the types of proteins that we also look for during the PET scans (amyloid and tau). You will lie down on your side and the doctor will insert a needle in your back and remove a small amount of fluid. Most people find this procedure painless once the skin is frozen, but you may feel a poke. Most of the time people don’t feel any effects, but some people, especially those who are young, will have a headache after the procedure. The research nurse and the neurologist will go through every aspect of the procedure and the nurse will call you 24 hours after the procedure is done to make sure you are feeling well.  </p>
                
                <h5>MRI scan  </h5>
                <p>This is an imaging scan of your head that looks at the structure and anatomy of your brain. It uses a large magnet, but no radiation, to make the images. Consequently, we will ask you if you have any permanent metal in your body (such as a clipped aneurysm or a pacemaker). The procedure is simple but if you have a problem with claustrophobia (being afraid of small spaces) you should let our team know. It is painless but can be quite loud so people usually wear earplugs and soft music is played in the background. The length of the scan can be different depending on which study you participate in but it is often around 45 to 60 minutes in total.  </p>
                
                <h5>PET scans  </h5>
                <p>These are a type of brain scan, which uses a small dose of radioactive tracer, which sticks to certain proteins or molecules in the brain, and releases small radioactive signals, which can be read by the PET scanner. The tracer is injected through a small needle (like for a blood draw) and then a certain amount of time later, the images are taken  in a machine similar to a CT scanner where only your head will be placed in the scanner while your body will be outside. The length of time of the scan can be different depending on which study you participate in.  </p>
                
                <p>We often ask participants to complete a few different PET studies to look at different factors implicated in aging such as amyloid protein, tau protein and markers of neuroinflammation. A member of our team will also explain the different scans proposed to you. </p>
                
            </div>
        </div>
    </div>
</div>
{% when 'fr' %}
<div class="container-fluid">
        <div class="container-fluid containerWsidebar">
            <div class="row nowraprow pt-4 pb-2">
                <h4 class="text-left pl-4">{{ site.data.titleTrs['part_tests'][handle] }}</h4>
            </div>
            <div class="row nowraprow">
                <div class="p-4">
                    <h5>Dépistage et collecte d’échantillon (sang/urine/salive)</h5>
                    <p>Le dépistage comprend des questions sur votre santé présente et antécédente, la santé des membres de votre famille proche, et sur votre mémoire. Il y aura un examen physique pour déterminer votre santé neurologique. De courts questionnaires portant sur votre mémoire seront administrés également à cette visite ou durant la visite pour l’évaluation neuropsychologique.  </p>
                    
                    <p>Vous serez demandé de fournir des échantillons que nous utilisons pour mesurer votre santé courante ainsi que votre composition génétique. Pour les échantillons de sang, un(e) infirmièr(e) prélèvera un petit échantillon de sang, une procédure routine que vous avez probablement subi après une visite chez votre médecin. </p>
                    
                    <h5>Évaluation neuropsychologique </h5>
                    <p>Nous avons une batterie de tests et d’examens qui ont pour but d’évaluer votre mémoire et votre pensée. Il se peut aussi que nous demandons à un de vos proches de décrire votre mémoire quotidienne. Tous ces examens évaluent plusieurs aspects de votre cognition, et peuvent prendre jusqu’à 4 heures à compléter en entier. Ils peuvent être complétés durant le cours d’une ou de deux visites. Il n’y a aucune préparation nécessaire pour cette évaluation, et quelqu’un sera avec vous tout le long de la visite pour vous donner des instructions pour chaque examen.</p>
                    
                    <h5>Ponction lombaire (facultative) </h5>
                    <p>Cette procédure est effectuée par un médecin et nous permet de prélever un échantillon de liquide céphalorachidien (LCR) (le liquide qui entoure votre cerveau et votre moelle épinière) afin d’évaluer la présence des protéines que nous recherchons également avec les évaluations TEP (amyloïde et tau). vous serez allongé(e) sur le côté tandis que le médecin insèrera une aiguille dans votre dos et retirera une petite quantité de liquide. La plupart des gens trouve cette procédure indolore une fois la peau gelée, mais vous pouvez ressentir un léger pincement. La plupart du temps, les gens n’ont pas d’effets secondaires, mais certaines personnes, en particulier les jeunes, auront un risque d’avoir un mal de tête après la procédure. Un membre de notre équipe vous appellera plus tard dans la journée après la procédure pour assurer que vous vous sentez bien.  </p>
                    
                    <h5>Évaluations d’imagerie par résonance magnétique (IRM)   </h5>
                    <p>Cette procédure comprend un examen d'imagerie cérébrale qui examine la structure et l'anatomie de votre cerveau. L'appareil utilise un aimant puissant, mais pas de rayonnement, pour créer les images. Pour cette raison, nous vous demanderons si vous avez du métal dans votre corps de manière permanente (tel qu’un clip d’anévrisme, une intervention chirurgicale antérieure ou un stimulateur cardiaque). Seule votre tête est à l'intérieur de la machine et votre corps à l'extérieur, mais si vous souffrez de claustrophobie, vous devez en informer notre équipe. La procédure est indolore mais peut être assez bruyante, et par conséquent les gens portent habituellement des bouchons d'oreille. La durée de l’analyse peut varier en fonction de l’étude à laquelle vous participez, mais elle dure généralement environ 45 minutes. </p>
                    
                    <h5> Évaluations de tomographie par émission de positron (TEP)  </h5>
                    <p>Cette procédure d’imagerie cérébrale utilise une dose minime de traceur radioactif qui se colle à certaines protéines ou molécules du cerveau et qui libère de petits signaux radioactifs lisibles par l’appareil. À certains égards, cela peut être considéré comme une « radiographie inversée ». Le traceur est injecté à travers une petite seringue (comme pour une prise de sang). Après un temps d’attente pour que le traceur puisse se rendre à votre cerveau, les images sont prises dans une machine un peu comme un appareil CT, où seule votre tête sera placée à l’intérieur, et votre corps sera à l'extérieur. La durée de l'analyse peut varier en fonction de l'étude à laquelle vous participez, mais elle dure généralement environ 40 minutes au total.  </p>
                    
                    <p>Souvent, nous demandons à nos participants de compléter quelques études TEP différentes pour évaluer différentes protéines dans le cerveau. Les évaluations TEP spécifiques que vous passerez peuvent varier, ce qui contribue à l’aspect polyvalent de notre recherche. Toute évaluation vous sera expliquée par un membre de notre équipe de recherche. </p>
                    
                </div>
            </div>
        </div>
    </div>
{% else %}
Undefined Locale.
{% endcase %}