{% assign handle = include.lang %}
{% assign translatedTo = "en,fr" | split: "," %}
{% unless translatedTo contains handle %}{% assign handle = site.default_lang %}{% endunless %}

{% case  handle %}
{% when 'en' %}
<div class="container">
    <div class="row nowraprow pt-4 pb-2">
        <h4 class=" text-center">{{ site.data.titleTrs['testimonials'][handle] }}</h4> 
    </div>
    <div class="row nowraprow">
        <!-- VIDEO -->
        <p>In this video, participants share their experience as research participants in the TRIAD cohort.</p>
        <iframe width="100%" height="400" src="https://www.youtube.com/embed/5vmP_4zErVo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>
{% when 'fr' %}
<div class="container">
        <div class="row nowraprow pt-4 pb-2">
            <h4 class=" text-center">{{ site.data.titleTrs['testimonials'][handle] }}</h4> 
        </div>
        <div class="row nowraprow">
            <!-- VIDEO -->
            <p>Dans cette video, des participants partagent leur experiences en tant que participants dans la cohorte BioVie.</p>
            <iframe width="100%" height="400" src="https://www.youtube.com/embed/5vmP_4zErVo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            
        </div>
    </div>
{% else %}
Undefined Locale.
{% endcase %}