{% assign handle = include.lang %}
{% assign translatedTo = "en,fr" | split: "," %}
{% unless translatedTo contains handle %}{% assign handle = site.default_lang %}{% endunless %}

{% case  handle %}
{% when 'en' %}
<div class="container-fluid">
    <header class="sliderheader_wSideBar">
        <div class="overlay">
        </div>
        <div class="pageparallax part_info_parallax">
        </div>
    </header>
    <div class="container-fluid containerWsidebar">
        <div class="row nowraprow pt-4 pb-2">
            <h4 class=" text-center">{{ site.data.titleTrs['part_info'][handle] }}</h4>
        </div>
        <div class="row nowraprow">
            <div class="p-4">
                <p>Our research looks at the changes that happen in people’s brains that contribute to dementia. Our lab
                    focuses its research on Alzheimer’s Disease, which is the most common form of dementia and usually
                    starts with people having trouble with their memory and other types of dementia. We are continually
                    growing a group of participants who assist us by participating in our research. We use new
                    techniques to create images of the locations where proteins are building up inside the brain in
                    different populations, including those with dementia and those without. This helps to understand the
                    early stages of dementia to discover the details of how Alzheimer’s and related diseases begin and
                    progress.
                    <br><br>
                    Our team includes highly qualified proffesionals, interacting with you during
                    your participation, and working behind the scenes. You will directly interact with medical doctors
                    (neurologists), nurses, neuropsychologists, research assistants and administrators. All the data
                    gathered will be handled in a confidential manner by imaging analysis experts, computer scientists,
                    and research students (undergraduate, Master’s & PhD). We are passionate and excited about this
                    research and we would like to thank you for your interest and participation!
                </p>
            </div>
        </div>
    </div>
</div>
{% when 'fr' %}
<div class="container-fluid">
    <header class="sliderheader_wSideBar">
        <div class="overlay">
        </div>
        <div class="pageparallax part_info_parallax">
        </div>
    </header>
    <div class="container-fluid containerWsidebar">
        <div class="row nowraprow pt-4 pb-2">
            <h4 class=" text-center">{{ site.data.titleTrs['part_info'][handle] }}</h4>
        </div>
        <div class="row nowraprow">
            <div class="p-4">
                <p>Nos recherches portent sur les changements qui se produisent dans le cerveau humain qui contribuent à la démence. Dans notre laboratoire, nous concentrons nos recherches sur la maladie d’Alzheimer, la forme de démence la plus répandue, qui commence généralement par des troubles de la mémoire. Nous avons un groupe de participants continuellement en croissance qui nous assistent en participant à nos recherches. Nous utilisons des techniques supérieures pour créer des images localisant où les protéines s'accumulent dans le cerveau chez nombreuses personnes, y compris les personnes atteintes de démence et ceux en santé. Ceci nous aide à comprendre les premières phases de la démence et nous aide à découvrir les détails de la progression de la maladie d’Alzheimer et de démences associées.
                    <br><br>
                    Notre équipe de recherche comprend de nombreuses personnes avec lesquelles vous allez interagir lors de votre participation, dont certaines travaillent en coulisse. Notre équipe comprend des médecins (neurologues), des infirmières, des neuropsychologues, des assistant(e)s de recherche, des administrateurs, des experts en analyse d’imagerie cérébrale, des informaticiens, des conseillers en génétique ainsi que de nombreux d’étudiants effectuant des recherches à divers stade d’éducation (premier cycle universitaire, maîtrise et doctorat). Nous sommes passionnés et motivés par cette recherche et nous vous remercions de votre intérêt et de votre participation !
                </p>
            </div>
        </div>
    </div>
</div>
{% else %}
Undefined Locale.
{% endcase %}