{% assign handle = include.lang %}
{% assign translatedTo = "en,fr" | split: "," %}
{% unless translatedTo contains handle %}{% assign handle = site.default_lang %}{% endunless %}

{% case  handle %}
{% when 'en' %}
<div class="container">
    <div class="row nowraprow pt-4 pb-2">
        <h4 class=" text-center">{{ site.data.titleTrs['about'][handle] }}</h4> 
    </div>
    <div class="row nowraprow">
        <img class="img-thumbnail rounded float-left mr-3" src="/assets/img/LOGO_tr_l.png"
            alt="About Image">
        <div class="p-4">
            <p>The Translational Biomarkers in Aging and Dementia (TRIAD) cohort focuses on advanced
                personalized and preclinical dementia diagnosis. We study dementia markers and their progression from
                pre-symptomatic stages to the onset of the Alzheimer’s disease or other types of dementia. The TRIAD cohort
                assesses the trajectory of multiple imaging and fluid biomarkers in clinical populations and serves as a
                benchmark for testing novel biomarkers of dementia. </p>
            <ul class="flexlists">
                <li>Launched in 2017, largest biomarker based study. </li>
                <li>Large scale longitudinal cohort: more than 1000 people in the TRIAD registry. </li>
                <li>Fluid biomarkers, PET scans, MRI scans, cognitive and neuropsychological assessments. </li>
                <li>Population: Healthy young (HY) participants, cognitively unimpaired (CU), mild cognitive impairment (MCI),
                    Alzheimer’s disease (AD) as well as other types of atypical AD and dementia. </li>
            </ul>
        </div>
    </div>
</div>
{% when 'fr' %}
<div class="container">
        <div class="row nowraprow pt-4 pb-2">
            <h4 class=" text-center">{{ site.data.titleTrs['about'][handle] }}</h4> 
        </div>
        <div class="row nowraprow">
            <img class="img-thumbnail rounded float-left mr-3" src="/assets/img/LOGO_FR_tr.png"
                alt="About Image">
            <div class="p-4">
                <p>The Translational Biomarkers in Aging and Dementia (TRIAD) cohort focuses on advanced
                    personalized and preclinical dementia diagnosis. We study dementia markers and their progression from
                    pre-symptomatic stages to the onset of the Alzheimer’s disease or other type of dementia. The TRIAD cohort
                    assesses the trajectory of multiple imaging and fluid biomarkers in clinical populations, it serves as a
                    benchmark for testing novel biomarkers of dementia. </p>
                <ul class="flexlists">
                    <li>Launched in 2017, largest biomarker based study. </li>
                    <li>Large scale longitudinal cohort: more than 1000 people in the TRIAD registry. </li>
                    <li>Fluid biomarkers, PET scans, MRI scans, cognitive and neuropsychological assessments. </li>
                    <li>Population: Healthy young (HY) volunteers, cognitively unimpaired (CU), mild cognitive impairment (MCI),
                        Alzheimer’s disease (AD) as well as other types of atypical AD and dementia. </li>
                </ul>
            </div>
        </div>
    </div>
{% else %}
Undefined Locale.
{% endcase %}