{% assign handle = include.lang %}
{% assign translatedTo = "en,fr" | split: "," %}
{% unless translatedTo contains handle %}{% assign handle = site.default_lang %}{% endunless %}

<div class="container">
    <div class="row nowraprow pt-4 pb-2">
        <h4 class=" text-center">{{ site.data.titleTrs['team'][handle] }}</h4>
    </div>
    <div class="card-container">
        {% for speaker in site.data.team.tier1 %}
        <div class="card">
            <div class="card__side card__side--front">
                <div class="card__image">
                    <img class="card-img-top" src="{{ speaker.thumbnail }}">
                </div>
                <div class="card__title">
                    <h5 style="text-decoration: none;">{{ speaker.name }}</h5>
                    <h6>{{ speaker.title[handle] }}</h6>
                    <p style="font-size:12px;">{{ speaker.assoc[handle] }}</p>
                    <b style="font-size:13px; color:#7D7D7D;">{{ speaker.desc[handle] }}</b>
                </div>
            </div>
            <div class="card__side card__side--back">
                <p>{{ speaker.longDesc[handle] }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="card-container">
        {% for speaker in site.data.team.tier2 %}
        <div class="card">
            <div class="card__side card__side--front">
                <div class="card__image">
                    <img class="card-img-top" src="{{ speaker.thumbnail }}">
                </div>
                <div class="card__title">
                    <h5 style="text-decoration: none;">{{ speaker.name }}</h5>
                    <h6>{{ speaker.title[handle] }}</h6>
                    <p style="font-size:12px;">{{ speaker.assoc[handle] }}</p>
                    <b style="font-size:13px; color:#7D7D7D;">{{ speaker.desc[handle] }}</b>
                </div>
            </div>
            <div class="card__side card__side--back">
                <p>{{ speaker.longDesc[handle] }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

