{% assign handle = include.lang %}
{% assign translatedTo = "en,fr" | split: "," %}
{% unless translatedTo contains handle %}{% assign handle = site.default_lang %}{% endunless %}

{% case  handle %}
{% when 'en' %}
<div class="container-fluid ">
    <header class="sliderheader_wSideBar">
        <div class="overlay">
        </div>
        <div class="pageparallax desc_aims_parallax">
        </div>
    </header>
    <div class="container-fluid containerWsidebar">
        <div class="row nowraprow pt-4 pb-2">
            <h4 class=" text-center">{{ site.data.titleTrs['desc_aims'][handle] }}</h4>
        </div>
        <div class="row nowraprow">
            <div class="p-4">
                <ul class="flexlists">
                    <li>Develop novel approaches for accurate and early diagnosis of Alzheimer’s Disease (AD). The
                        neuropathological changes in AD start to accumulate 10-15 years before the onset of the frist
                        clinical symptoms. The ability to diagnose AD during the pre-clinical phase would allow the
                        development of potential drug interventions that may modify the disease progression. Some
                        promising methods of diagnosis that are being investigated in our Centre include PET scans to
                        detect amyloid and tau protein levels and biofluid-based biomarkers of AD. </li>
                    <br>
                    <li>Explore the epigenetic mechanisms underlying AD. Epigenetic dysregulation is increasingly
                        recognized in the pathophysiology of AD. Our Centre studies a family of enzymes that controls
                        gene transcription called histone deacetylases (HDACs) and their relation to amyloid and tau
                        protein levels. Recently, they were shown to play an important role in regulating
                        neuroplasticity and cognitive function. Defining the epigenetic processes associated with AD
                        could lead to developments of new therapies that target the epigenetic molecules in the brain.
                    </li>
                    <br>
                    <li>Tracking the progression of neuroinflammation and tau aggregates in preclinical AD. As a
                        response to amyloid protein accumulation, immune cells in the brain release pro-inflammatory
                        factors. These factors were shown to increase the pathophysiological progression of AD. However,
                        research on the effects of neuroinflammation on cognitive decline and accumulation of tau
                        protein is limited. The longitudinal observation study conducted within the TRIAD cohort with
                        baseline and 24-month follow-up aims to fill this knowledge gap. This interface between
                        neuroinflammation and tau pathology presents as a novel potential target for therapeutic
                        interventions. </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% when 'fr' %}
<div class="container-fluid ">
    <header class="sliderheader_wSideBar">
        <div class="overlay">
        </div>
        <div class="pageparallax desc_aims_parallax">
        </div>
    </header>
    <div class="container-fluid containerWsidebar">
        <div class="row nowraprow pt-4 pb-2">
            <h4 class=" text-center">{{ site.data.titleTrs['desc_aims'][handle] }}</h4>
        </div>
        <div class="row nowraprow">
            <div class="p-4">
                <ul class="flexlists">
                    <li>Develop novel approaches for accurate and early diagnosis of Alzheimer’s Disease (AD). The
                        neuropathological changes in AD start to accumulate 10-15 years before the onset of the frist
                        clinical symptoms. The ability to diagnose AD during the pre-clinical phase would allow the
                        development of potential drug interventions that may modify the disease progression. Some
                        promising methods of diagnosis that are being investigated in our Centre include PET scans to
                        detect amyloid and tau protein levels and biofluid-based biomarkers of AD. </li>
                    <br>
                    <li>Explore the epigenetic mechanisms underlying AD. Epigenetic dysregulation is increasingly
                        recognized in the pathophysiology of AD. Our Centre studies a family of enzymes that controls
                        gene transcription called histone deacetylases (HDACs) and their relation to amyloid and tau
                        protein levels. Recently, they were shown to play an important role in regulating
                        neuroplasticity and cognitive function. Defining the epigenetic processes associated with AD
                        could lead to developments of new therapies that target the epigenetic molecules in the brain.
                    </li>
                    <br>
                    <li>Tracking the progression of neuroinflammation and tau aggregates in preclinical AD. As a
                        response to amyloid protein accumulation, immune cells in the brain release pro-inflammatory
                        factors. These factors were shown to increase the pathophysiological progression of AD. However,
                        research on the effects of neuroinflammation on cognitive decline and accumulation of tau
                        protein is limited. The longitudinal observation study conducted within the TRIAD cohort with
                        baseline and 24-month follow-up aims to fill this knowledge gap. This interface between
                        neuroinflammation and tau pathology presents as a novel potential target for therapeutic
                        interventions. </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% else %}
Undefined Locale.
{% endcase %}