{% assign handle = include.lang %}
{% assign translatedTo = "en,fr" | split: "," %}
{% unless translatedTo contains handle %}{% assign handle = site.default_lang %}{% endunless %}

{% case  handle %}
{% when 'en' %}
<div class="container">
  <div class="row nowraprow pt-4 pb-2">
    <h4 class=" text-center">{{ site.data.titleTrs['dataAccess'][handle] }}</h4>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p class="text-left">All the data collected under the TRIAD cohort is governed by the policies set by the Research
        Ethics Board Office of the McGill University, Montreal and the Douglas Research Center, Verdun. If you are a
        researcher and would like to access the TRIAD data for research purpose, please submit a data share request via
        our <a href="https://datashare.tnl-mcgill.com">data share page.</a> </p>
    </div>
  </div>
</div>
{% when 'fr' %}
<div class="container">
  <div class="row nowraprow pt-4 pb-2">
    <h4 class=" text-center">{{ site.data.titleTrs['dataAccess'][handle] }}</h4>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p class="text-left">Toutes les données recueillies dans le cadre de la cohorte BIOVIE sont gouvernés par les politiques établies par le Comité d’éthique de la recherche de l'Université McGill à Montréal et par le Centre de recherche Douglas à Verdun. Si vous êtes un chercheur et souhaitez accéder aux données de BIOVIE à des fins de recherche, veuillez envoyer une demande de partage de données via notre  <a href="https://datashare.tnl-mcgill.com">page de partage de données.</a> </p>
    </div>
  </div>
</div>
{% else %}
Undefined Locale.
{% endcase %}